@import 'tailwindcss';

@theme {
    --letter-spacing-base: -0.02em;
}

@import '../styles/_color.css';
@import '../styles/_icon.css';
@import '../styles/_radius.css';
@import '../styles/_spacing.css';
@import '../styles/_typography.css';

body {
    font-family: 'Pretendard', sans-serif;
    letter-spacing: var(--letter-spacing-base);
}
