@import 'tailwindcss';

@import '../styles/_color.css';
@import '../styles/_icon.css';
@import '../styles/_radius.css';
@import '../styles/_spacing.css';
@import '../styles/_typography.css';

body {
    font-family: 'Pretendard', sans-serif;
    letter-spacing: -0.02em;

    background-color: var(--color-primary-50);
}
